<div id='invoice'>

	<div id='invoiceHeader'>
		<span>Product / Options</span>
		<span>Unit Price</span>
		<span class='keyCell'>Price</span>
	</div>

	<div id='invoiceBody'>

		<div>
			<span>{{length}} feet of railing</span>
		    <span>
                {{#if_greater_cond length 10}}
					$60.00 per foot
                {{ else }}
					$600 minimum for all orders below 10 feet
                {{/if_greater_cond}}
			</span>
			<span>${{totalPrice}}</span>
		</div>

		<div class='even'>
			<span>Style: {{#capitalize style}}{{/capitalize}}</span>
            <span>
                {{#unless isCustomOrder}}
                    $0 per foot
                {{ else }}
					N/A
                {{/unless}}
			</span>
            <span>
                {{#unless isCustomOrder}}
					$0
                {{ else }}
                    <span id='stylePriceCell' class='hint hint--bottom hint--medium' data-hint='The costs here will be
                        determined after we meet and determine the scope of the customizations involved.'>
                        <span>TBD</span>
                        <i class='fa fa-question-circle'></i>
                    </span>
                {{/unless}}
			</span>
		</div>

		<div>
			<span>Color: {{#capitalize color}}{{/capitalize}}</span>
            <span>$0 per foot</span>
			<span>$0</span>
		</div>

	</div>

	<div id='invoiceFooter'>
		<span class='keyCell'>Order Total: </span>
		<span>${{totalPrice}}</span>
	</div>

</div>