<div id='orderSummary'>

</div>

<div id='invoice'>

	<div id='invoiceHeader'>
		<span>Product / Options</span>
		<span>Unit Price</span>
		<span class='keyCell'>Price</span>
	</div>

	<div id='invoiceBody'>

		<div>
			<span>{{order.length}} feet of railing</span>
			<span>
				{{#if_greater_cond order.length 10}}
					${{pricePerFootOfRailing}} per foot
				{{ else }}
					${{minimumOrderAmount}} minimum for all orders below 10 feet
				{{/if_greater_cond}}
			</span>
			<span>${{#multiply order.length pricePerFootOfRailing}}{{/multiply}}</span>
		</div>

		<div>
			<span>Railings Type: {{#capitalize order.type}}{{/capitalize}}</span>
			<span></span>
			<span></span>
		</div>

		<div>
			<span>Post Design: {{#map_design_code_to_full_name order.design.post}}{{/map_design_code_to_full_name}}</span>
			<span>{{#fetchDesignPrice order.design.post}}{{/fetchDesignPrice}}</span>
			<span>{{#calculateDesignSubtotal order.design.post order.length}}{{/calculateDesignSubtotal}}</span>
		</div>

		{{#if order.design.postEnd}}
			<div>
				<span>Post End: {{#map_design_code_to_full_name order.design.postEnd}}{{/map_design_code_to_full_name}}</span>
				<span>{{#fetchDesignPrice order.design.postEnd}}{{/fetchDesignPrice}}</span>
				<span>{{#calculateDesignSubtotal order.design.postEnd order.length}}{{/calculateDesignSubtotal}}</span>
			</div>
		{{/if}}

		{{#if order.design.postCap}}
			<div>
				<span>Post Cap: {{#map_design_code_to_full_name order.design.postCap}}{{/map_design_code_to_full_name}}</span>
				<span>{{#fetchDesignPrice order.design.postCap}}{{/fetchDesignPrice}}</span>
				<span>{{#calculateDesignSubtotal order.design.postCap order.length}}{{/calculateDesignSubtotal}}</span>
			</div>
		{{/if}}

		<div>
			<span>Center Design: {{#map_design_code_to_full_name order.design.center}}{{/map_design_code_to_full_name}}</span>
			<span>{{#fetchDesignPrice order.design.center}}{{/fetchDesignPrice}}</span>
			<span>{{#calculateDesignSubtotal order.design.center order.length}}{{/calculateDesignSubtotal}}</span>
		</div>

		<div>
			<span>Color: {{#map_design_code_to_full_name order.design.color}}{{/map_design_code_to_full_name}}</span>
			<span>{{#fetchDesignPrice order.design.color}}{{/fetchDesignPrice}}</span>
			<span>{{#calculateDesignSubtotal order.design.color order.length}}{{/calculateDesignSubtotal}}</span>
		</div>

	</div>

	<div id='invoiceFooter'>
		<span class='keyCell'>Order Total: </span>
		<span>${{order.totalPrice}}</span>
	</div>

</div>