<div class='paymentRecord'>

	<span class='amountsColumn'>
		<div class='bigPaymentRecordLabel'>Amount</div>
		<div class='significantRecordListing'>${{#to_fixed amount 2}}{{/to_fixed}}</div>
		{{#if tax}}
			<div>
				<span class='paymentRecordLabel'>(Tax: </span>
				<span class='recordListing'>${{#to_fixed tax 2}}{{/to_fixed}})</span>
			</div>
		{{/if}}
		{{#if details.fee}}
			<div>
				<span class='paymentRecordLabel'>(Stripe Fee: </span>
				<span class='recordListing'>${{#to_fixed details.fee 2 }}{{/to_fixed}})</span>
			</div>
		{{/if}}
	</span>

	<span class='paymentRecordDetailsColumn'>
		{{#if_cond type 'card'}}
			<div class='bigPaymentRecordLabel'>Card</div>
			<div class='paymentRecordDetails'>
				<i class='fa {{#determine_cc_icon details.brand}}{{/determine_cc_icon}}'></i>
				<span class='significantRecordListing'>(...{{ details.last4 }})</span>
			</div>
			{{#if memo}}
				<div class='paymentRecordDetails'>
					<span class='recordListing'>Memo: {{ memo }}</span>
				</div>
			{{/if}}
		{{/if_cond}}

		{{#if_cond type 'check'}}
			<div class='bigPaymentRecordLabel'>Check</div>
			<div class='paymentRecordDetails'>
				<img src='{{ details.imgLink }}' alt='Check Image' />
			</div>
			{{#if memo}}
				<div class='paymentRecordDetails'>
					<span class='recordListing'>Memo: {{ memo }}</span>
				</div>
			{{/if}}
		{{/if_cond}}

		{{#if_cond type 'cash'}}
			<div class='bigPaymentRecordLabel'>Cash / Money Order</div>
			<div class='paymentRecordDetails'>
				<img src='{{ details.imgLink }}' alt='Receipt Image' />
			</div>
			{{#if memo}}
				<div class='paymentRecordDetails'>
					<span class='recordListing'>Memo: {{ memo }}</span>
				</div>
			{{/if}}
		{{/if_cond}}
	</span>

</div>