{{#if order._id}}

	<div id='paymentsSection'>

		<div class='dataGrouping'>
			<div class='specializedLabel'>Payments</div>
			<div id='paymentsContainer'>
				<div id='newPaymentForm'>
					<div id='paymentOptionHeaders'>
						<span class='paymentOptionHeader selected' data-pay-form='newPaymentCreditCard'>Credit Card</span>
						<span class='paymentOptionHeader' data-pay-form='newPaymentCheck'>Check</span>
						<span class='paymentOptionHeader' data-pay-form='newPaymentCash'>Cash</span>
					</div>

					<div id='newPaymentCreditCard' class='paymentForm'>
						<div id='ccPaymentDetails'>
							<span>
								<label>Amount</label>
								$<input id='newPaymentCCAmount' type='tel' />
							</span>
							<span>
								<label>Card</label>
								<span id='ccList'>
									{{#if order.payments.ccTokens}}
										{{#each order.payments.ccTokens}}
											<div class='ccListEntry'>
												<input id='{{ this.id }}' type='radio' name='existingCC' value='{{this.card.id}}' />
												<label for='{{ this.id }}'>
													<i class='fa {{#determine_cc_icon this.card.brand}}{{/determine_cc_icon}}'></i>&nbsp;(...{{ this.card.last4 }})
												</label>
											</div>
										{{/each}}
										<div class='ccListEntry'>
											<input id='newCardOption' type='radio' name='existingCC' value='new' />
											<label for='newCardOption' class='smallLabel'>New Card</label>
										</div>
									{{/if}}
								</span>
							</span>
							<span>
								<label>Memo</label>
								<input id='ccMemo' type='text' />
							</span>
						</div>
						<div>
							<div id='newPaymentCCForm' class='{{#if order.payments.ccTokens}} disabled {{/if}}'>
								<div class='controlGroupingRow'>
									<label>Credit Card Number</label>
									<input id='newCCNumber' type='tel' maxlength='16' {{#if order.payments.ccTokens}} disabled {{/if}} />
								</div>
								<div class='controlGroupingRow'>
									<span>
										<label>Expiration Date</label>
										<select id='ccExpDateMonth' {{#if order.payments.ccTokens}} disabled {{/if}}>
											<option value='' selected='selected' disabled>Month</option>
											<option value='1'>January</option>
											<option value='2'>February</option>
											<option value='3'>March</option>
											<option value='4'>April</option>
											<option value='5'>May</option>
											<option value='6'>June</option>
											<option value='7'>July</option>
											<option value='8'>August</option>
											<option value='9'>September</option>
											<option value='10'>October</option>
											<option value='11'>November</option>
											<option value='12'>December</option>
										</select>
										<select id='ccExpDateYear' {{#if order.payments.ccTokens}} disabled {{/if}}>
											<option value='' selected='selected' disabled>Year</option>
											{{#each expirationYears }}
												<option value='{{this}}'>{{this}}</option>
											{{/each}}
										</select>
									</span>

									<span>
										<label>Security Code (CVC)</label>
										<input type='tel' id='newCVCNumber' maxlength='4' {{#if order.payments.ccTokens}} disabled {{/if}} />
									</span>
								</div>
							</div>
							<div>
								<button id='ccSaveButton'>Submit Payment</button>
							</div>
						</div>
					</div>

					<div id='newPaymentCheck' class='hide paymentForm'>
						<div id='checkPaymentDetails'>
							<span>
								<label>Amount</label>
								$<input id='newPaymentCheckAmount' type='tel' />
							</span>
							<span>
								<label>Memo</label>
								<input id='checkMemo' type='text' />
							</span>
						</div>
						<div>
							<div id='checkImageContainer'>
								<span id='checkUploadBox'>
									<div id='noCheckImageUploaded'>
										<i class='fa fa-upload'></i>
										<div>Upload Image of Check Here...</div>
									</div>
									<div id='yesCheckImageUploaded' class='hide'>
										<i class='fa fa-check-circle'></i>
										<div>Check Uploaded!</div>
									</div>
								</span>
							</div>
							<div>
								<button id='checkSaveButton'>Submit Payment</button>
							</div>
							<input id='checkUploadFile' type='file' />
						</div>
					</div>

					<div id='newPaymentCash' class='hide paymentForm'>
						<div id='cashPaymentDetails'>
							<span>
								<label>Amount</label>
								$<input id='newPaymentCashAmount' type='tel' />
							</span>
							<span>
								<label>Memo</label>
								<input id='cashMemo' type='text' />
							</span>
						</div>
						<div>
							<div id='cashImageContainer'>
								<span id='cashUploadBox'>
									<div id='noCashImageUploaded'>
										<i class='fa fa-upload'></i>
										<div>Upload Image of Deposit Receipt Here...</div>
									</div>
									<div id='yesCashImageUploaded' class='hide'>
										<i class='fa fa-check-circle'></i>
										<div>Image Uploaded!</div>
									</div>
								</span>
							</div>
							<div>
								<button id='cashSaveButton'>Submit Payment</button>
							</div>
							<input id='cashUploadFile' type='file' />
						</div>
					</div>

				</div>

			</div>
		</div>

	</div>
{{/if}}