<table id='header'>
	<tr>
		<th>Order {{order._id}} Confirmed</th>
	</tr>
</table>

<table id='orderDetails'>

	<tr>
		<th class='tableHeader'>Name</th>
		<td class='infoCell'>{{customer.name}}</td>
	</tr>

	{{#if customer.email}}
		<tr>
			<th class='tableHeader'>E-mail Address</th>
			<td class='infoCell'>{{customer.email}}</td>
		</tr>
	{{/if}}

	<tr>
		<th class='tableHeader'>Phone Number</th>
		<td class='infoCell'>({{customer.areaCode}}) {{customer.phoneOne}}-{{customer.phoneTwo}}</td>
	</tr>

	{{#if payments.charges.length}}

		<tr>
			<th class='tableHeader'>Deposit Payment Made By</th>
			<td class='infoCell'>
				{{#with payments.charges.[0]}}

					{{#if_cond type 'card'}}
						Credit Card
					{{/if_cond}}

					{{#if_cond type 'check'}}
						Check
					{{/if_cond}}

					{{#if_cond type 'cash'}}
						Cash
					{{/if_cond}}

				{{/with}}
			</td>
		</tr>

		<tr>
			<th class='tableHeader'>Deposit Amount</th>
			<td class='infoCell'> ${{#to_fixed payments.charges.0.amount 2}}{{/to_fixed}}</td>
		</tr>

	{{else}}
		<tr>
			<td class='infoCell' colspan='2'>
				No payment has been made yet on this order.
			</td>
		</tr>		
	{{/if}}
</table>