<head>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Cardo|Raleway'>
</head>

<body>
    <div id='logoHeader'>
        <img src='{{logo}}' alt='Metro Railings logo' />
    </div>

    <style type='text/css'>
        {{style}}
    </style>

    <table id='emailContent'>
        <tr>
            <td>{{{email}}}</td>
        </tr>
    </table>

    <table id='footer'>
        <tr>
			<td>© {{currentYear}} Metro Railings</td>
            <td>Any questions or concerns? Contact us at&nbsp;<a class='linkOff'>{{supportNumber}}</a>&nbsp;or reply back to this e-mail.</td>
        </tr>
    </table>
</body>