<head>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Cardo|Raleway'>
</head>

<body>
    <div>
        <img src='' alt='Metro Railings logo' />
    </div>

    <style type='text/css'>
        {{style}}
    </style>

    <table id='emailContent'>
        <tr>
            <td>{{{email}}}</td>
        </tr>
    </table>

    <table id='footer'>
        <tr>
			<td>© {{currentYear}} Metro Railings</td>
            <td>Any questions or concerns? Contact us at {{supportNumber}} or write us <a href={{supportForm}}>here</a>.</td>
        </tr>
    </table>
</body>