{{#if areThereOrders }}

    {{#each orders}}
		<div class='orderBlock'>

            <div class='orderGrouping'>
                <span class='orderHeaderCell'><span class='orderHeaderLabel'>ORDER ID </span> {{ this._id }}</span>
                <span class='orderHeaderCell'><span class='orderHeaderLabel'>ORDER DATE </span> {{#format_date this.createDate }}{{/format_date}}</span>
            </div>

			<div class='orderGrouping orderStatusSection'>
                <span class='orderInfoSection'>
                    <span class='orderCell'>
                        <p>{{#status_text this.status}}{{/status_text}}</p>
                    </span>
                </span>
			</div>

            <!-- Order Details -->
			<div class='orderGrouping orderDataSection'>

                <span class='orderInfoSection'>
                    <span class='orderInfoSectionHeader'>General Details</span>
                    <span class='orderCell'><span class='orderLabel'>Length:</span> {{ length }} feet</span>
					{{#if design.post}}
						<span class='orderCell'><span class='orderLabel'>Post:</span> {{#map_design_code_to_full_name design.post }}{{/map_design_code_to_full_name}}</span>
					{{/if}}
					{{#if design.picket}}
						<span class='orderCell'><span class='orderLabel'>Picket Size:</span> {{#map_design_code_to_full_name design.picket }}{{/map_design_code_to_full_name}}</span>
					{{/if}}
					<span class='orderCell'><span class='orderLabel'>Handrailing:</span> {{#map_design_code_to_full_name design.handrailing}}{{/map_design_code_to_full_name}}</span>
					{{#if design.postEnd }}
						<span class='orderCell'><span class='orderLabel'>Post End:</span>{{#map_design_code_to_full_name design.postEnd }}{{/map_design_code_to_full_name}}</span>
					{{/if}}
					{{#if design.postCap }}
						<span class='orderCell'><span class='orderLabel'>Post Cap:</span>{{#map_design_code_to_full_name design.postCap }}{{/map_design_code_to_full_name}}</span>
					{{/if}}
					<span class='orderCell'><span class='orderLabel'>Center:</span>{{#map_design_code_to_full_name design.center }}{{/map_design_code_to_full_name}}</span>
					<span class='orderCell'><span class='orderLabel'>Color:</span>{{#map_design_code_to_full_name design.color }}{{/map_design_code_to_full_name}}</span>
                </span>

				<span class='orderInfoSection'>
                    <span class='orderInfoSectionHeader'>Your Contact Info</span>
                    <span class='orderCell'>{{ customer.name }}</span>
					{{#if customer.email}}
						<span class='orderCell'>{{ customer.email }}</span>
					{{/if}}
                    <span class='orderCell'>({{ customer.areaCode }}){{ customer.phoneOne }}-{{ customer.phoneTwo }}</span>
					<span class='orderCell'>{{ customer.address }}<br />{{ customer.city }}, {{ customer.state }}</span>
                </span>

			</div>

		</div>
    {{/each}}

{{else}}

    No orders were found that matched the search keywords you gave us. Please double-check the search terms you gave us and try again.

{{/if}}