<div id='customerSummary'>

	<div class='dataGrouping {{#if_cond status 'closed'}} disabled {{/if_cond}}'>
		<span class='specializedLabel translate'>Customer Name</span>
		<span class='staticValue'>{{ customer.name }}</span>
	</div>

	<div class='dataGrouping {{#if_cond status 'closed'}} disabled {{/if_cond}}'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
			<span class='translate'>E-mail Address</span>
		</span>
        <input id='customerEmail' type='email' class='optionalField' value='{{ customer.email }}' {{#if_cond status 'closed'}} disabled {{/if_cond}}/>
		<span class='hint hint--right hint--always' data-hint=''></span>
	</div>

	<div class='dataGrouping {{#if_cond status 'closed'}} disabled {{/if_cond}}'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
			<span class='translate'>Phone Number</span>
		</span>
		(<input id='areaCode' type='tel' maxlength='3' placeholder='Area Code' value='{{ customer.areaCode }}' {{#if_cond status 'closed'}} disabled {{/if_cond}} />)
		<span class='hint hint--right hint--always' data-hint=''></span>
        <input id='phoneOne' type='tel' maxlength='3' placeholder='###' value='{{ customer.phoneOne }}' {{#if_cond status 'closed'}} disabled {{/if_cond}} />
		<span class='hint hint--right hint--always' data-hint=''></span>
		<input id='phoneTwo' type='tel' maxlength='4' placeholder='####' value='{{ customer.phoneTwo }}' {{#if_cond status 'closed'}} disabled {{/if_cond}} />
		<span class='hint hint--right hint--always' data-hint=''></span>
	</div>

</div>