<div id='pricingSummary'>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
			Order Length
		</span>
		<input id='orderLength' type='tel' value='{{length}}'
				{{#if_cond status 'closed'}}disabled{{/if_cond}} /> linear feet
		<span class='hint hint--right hint--always' data-hint=''></span>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
			Finishing Height
		</span>
		<input id='orderFinishedHeight' type='tel' value='{{finishedHeight}}'
			   {{#if_cond status 'closed'}}disabled{{/if_cond}} /> inches
		<span class='hint hint--right hint--always' data-hint=''></span>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
			Price Per Foot
		</span>
		{{#if_cond status 'pending'}}
			$<input id='pricePerFoot' type='tel' value={{ pricing.pricePerFoot }} />
		{{else}}
			<span class='staticValue'>${{ pricing.pricePerFoot }}</span>
		{{/if_cond}}
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
			Additional Features
		</span>
		{{#if_cond status 'pending'}}
			<textarea id='additionalFeatures' class='optionalField'>{{#format_value_for_textarea additionalFeatures}}{{/format_value_for_textarea}}</textarea>
		{{else}}
			<span class='staticValue'>
				{{#if additionalFeatures}}
					{{{ additionalFeatures }}} {{else}} N/A
				{{/if}}
			</span>
		{{/if_cond}}
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
			Additional Price
		</span>
		{{#if_cond status 'pending'}}
			$<input id='additionalPrice' type='tel' class='optionalField' value={{ pricing.additionalPrice }} />
		{{else}}
			<span class='staticValue'>${{ pricing.additionalPrice }}</span>
		{{/if_cond}}
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
			Deductions
		</span>
		{{#if_cond status 'pending'}}
			$<input id='deductions' type='tel' class='optionalField' value={{ pricing.deductions }} />
		{{else}}
			<span class='staticValue'>${{ pricing.deductions }}</span>
		{{/if_cond}}
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>Original Total Price</span>
		<span class='staticValue'>
			{{#if pricing.orderTotal}}
				<span class='orderValueAmount'>${{#to_fixed pricing.orderTotal 2 }}{{/to_fixed}}</span>
			{{/if}}
			{{#if pricing.tax}}
				<span class='orderTaxAmount'>(Tax: ${{#to_fixed pricing.tax 2 }}{{/to_fixed}})</span>
			{{/if}}
		</span>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>Balance Remaining</span>
		<span id='balanceRemaining' class='staticValue'>
			{{#if pricing.balanceRemaining}}
				<span class='orderValueAmount'>${{#to_fixed pricing.balanceRemaining 2 }}{{/to_fixed }}</span>
			{{else}}
				<span class='orderValueAmount'>$0.00</span>
			{{/if}}

			{{#if pricing.taxRemaining}}
				<span class='orderTaxAmount'>(Tax: ${{#to_fixed pricing.taxRemaining 2 }}{{/to_fixed}})</span>
			{{/if}}
		</span>
	</div>

	{{#unless_cond status 'pending'}}
		<div class='dataGrouping'>
			<span class='specializedLabel'>Payment Method</span>
			<span class='staticValue'>
				{{#if pricing.paidByCheck }}
					<span>Check/Cash</span>
				<i class='fa fa-bank'></i>
				{{else}}
					<span>Credit Card</span>
				<i class='fa fa-credit-card'></i>
				{{/if}}
			</span>
		</div>
	{{/unless_cond}}

	{{#unless_cond status 'pending'}}
		{{#unless pricing.paidByCheck }}
			<div class='dataGrouping {{#if_cond status 'closed'}} disabled {{/if_cond}}'>
			<span class='specializedLabel'>
			    <i class='fa fa-tag fa-rotate-180'></i>
				Rest to be Paid By Check?
			</span>
				<span id='restByCheckButtonSet' class='buttonSet'>
				<input type='radio' class='yesRadio' id='restByCheckYes' name='restByCheck' value='y'
					{{#if_cond status 'closed'}}disabled{{/if_cond}}
					{{#if pricing.restByCheck}}checked{{/if}} />
				<label for='restByCheckYes'>Yes</label>
				<input type='radio' class='noRadio' id='restByCheckNo' name='restByCheck' value=''
					{{#if_cond status 'closed'}}disabled{{/if_cond}}
					{{#unless pricing.restByCheck}}checked{{/unless}} />
				<label for='restByCheckNo'>No</label>
			</span>
			</div>
		{{/unless}}
	{{/unless_cond}}

	{{#unless_cond status 'pending'}}
		<div class='dataGrouping'>
			<span class='specializedLabel'>
				<i class='fa fa-tag fa-rotate-180'></i>
				Price Modifications
			</span>
			$<input id='priceModifications' type='tel' value='{{pricing.modification}}'
					{{#if_cond status 'closed'}}disabled{{/if_cond}} />
			<span class='hint hint--right hint--always' data-hint=''></span>
			{{#if pricing.tax}}
				<span class='orderTaxAmount'>(Additional Tax: $<span id='additionalTax'>0.00</span>)</span>
			{{/if}}
		</div>
	{{/unless_cond}}

</div>