<div id='customerSummary'>

	<div class='dataGrouping'>
		<span class='specializedLabel'>Customer Name</span>
		<span class='staticValue'>{{ customer.name }}</span>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
		    E-mail Address
		</span>
		<input id='customerEmail' type='email' class='optionalField' value='{{#if customer.email }} {{ customer.email}} {{/if}}' />
		<span class='hint hint--right hint--always' data-hint=''></span>
		<div class='subtleHeadsUp'>
			If you need to include multiple e-mail addresses here, just separate out each e-mail address with a comma
		</div>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
		    Phone Number
		</span>
		(<input id='areaCode' type='tel' maxlength='3' placeholder='Area Code' value='{{ customer.areaCode }}' />)
		<span class='hint hint--right hint--always' data-hint=''></span>
		<input id='phoneOne' type='tel' maxlength='3' placeholder='###' value='{{ customer.phoneOne }}' />
		<span class='hint hint--right hint--always' data-hint=''></span>
		<input id='phoneTwo' type='tel' maxlength='4' placeholder='####' value='{{ customer.phoneTwo }}' />
		<span class='hint hint--right hint--always' data-hint=''></span>
	</div>

</div>