<div id='tasksList'>

	{{#if upwaveCards.estimates.length}}

		<div class='taskSlickContainer'>

			<fieldset class='taskGrid'>
				<legend>Estimates</legend>

				{{#each upwaveCards.estimates}}
					<div class='taskInfo'>
						<span class='taskDescription'>
							{{{description}}}

							{{#if subtasks}}
								<ul>
									{{#each subtasks}}
										<li {{#finished_dt}} class='completedSubTask' {{/finished_dt}}>{{description}}</li>
									{{/each}}
								</ul>
							{{/if}}
						</span>

						<span class='taskOwner'>
							{{#if assigned.length}}
								{{#each assigned}}
									<div>- {{firstname}} -</div>
								{{/each}}
							{{else}}
								- Unassigned -
							{{/if}}
						</span>

						<span class='taskActions'>
							<i class='fa fa-edit' data-board-id='{{ board.id }}' data-card-id='{{ id }}'></i>
						</span>
					</div>
				{{/each}}

			</fieldset>

		</div>

	{{/if}}

	{{#if upwaveCards.installations.length}}

		<div class='taskSlickContainer'>

			<fieldset class='taskGrid'>
				<legend>Installations</legend>

				{{#each upwaveCards.installations}}
					<div class='taskInfo'>
						<span class='taskDescription'>
							{{{description}}}

							{{#if subtasks}}
								<ul>
									{{#each subtasks}}
										<li {{#finished_dt}} class='completedSubTask' {{/finished_dt}}>{{description}}</li>
									{{/each}}
								</ul>
							{{/if}}
						</span>

						<span class='taskOwner'>
							{{#if assigned.length}}
								{{#each assigned}}
									<div>- {{firstname}} -</div>
								{{/each}}
							{{else}}
								- Unassigned -
							{{/if}}
						</span>

						<span class='taskActions'>
							<i class='fa fa-edit' data-board-id='{{ board.id }}' data-card-id='{{ id }}'></i>
						</span>
					</div>
				{{/each}}

			</fieldset>

		</div>
	{{/if}}

	{{#if upwaveCards.customers.length}}

		<div class='taskSlickContainer'>

			<fieldset class='taskGrid'>
				<legend>Customers</legend>

				{{#each upwaveCards.customers}}
					<div class='taskInfo'>
						<span class='taskDescription'>
							{{{description}}}

							{{#if subtasks}}
								<ul>
									{{#each subtasks}}
										<li {{#finished_dt}} class='completedSubTask' {{/finished_dt}}>{{description}}</li>
									{{/each}}
								</ul>
							{{/if}}
						</span>

						<span class='taskOwner'>
							{{#if assigned.length}}
								{{#each assigned}}
									<div>- {{firstname}} -</div>
								{{/each}}
							{{else}}
								- Unassigned -
							{{/if}}
						</span>

						<span class='taskActions'>
							<i class='fa fa-edit' data-board-id='{{ board.id }}' data-card-id='{{ id }}'></i>
						</span>
					</div>
				{{/each}}

			</fieldset>

		</div>
	{{/if}}

</div>