{{#each orders}}
	<div id='order-{{ this._id }}' class='orderBlock'>

		<div class='orderGrouping'>
            <span class='orderInfoSection'>
                <span class='orderIDCell'>
                    {{ this._id }}
                </span>
                <span class='orderStatusCell translate'>
                    {{#capitalize this.status }}{{/capitalize }}
                </span>
            </span>

            <span class='orderInfoSection'>
                <span class='orderInfoSectionHeader translate'>Customer Info</span>
                <span class='orderCell'>{{ customer.name }}</span>
                <span class='orderCell'>
					<a class='linkText addressLink' target='_blank'
					   href='{{#form_google_maps_url customer }}{{/form_google_maps_url}}'>
						{{ customer.address }}
						{{#if customer.aptSuiteNo}}
							<br />
							{{ customer.aptSuiteNo }}
						{{/if}}
						<br />
						{{ customer.city }}, {{ customer.state }}{{#if customer.zipCode}}, {{ customer.zipCode }}{{/if}}
						<i class='fa fa-map-marker'></i>
					</a>
				</span>
				{{#if customer.email }}
					<span class='orderCell'>{{#format_multiple_emails customer.email }}{{/format_multiple_emails}}</span>
				{{/if}}
                <span class='orderCell'>
					<a class='linkText' href='tel:{{ customer.areaCode }}{{ customer.phoneOne }}{{ customer.phoneTwo }}'>
						({{ customer.areaCode }}) {{ customer.phoneOne }}-{{ customer.phoneTwo }}
						<i class='fa fa-phone-square'></i>
					</a>
				</span>
            </span>

		</div>

<!--
        {{#if this.notes }}
			{{#if this.notes.internal.length }}
				<div class='orderGrouping orderNotesSection'>
					<span class='orderInfoSection'>
						<span class='orderInfoSectionHeader translate'>Notes</span>
						<span class='orderCell'>{{> orderNotes }}</span>
					</span>
				</div>
			{{/if}}
        {{/if}}
-->

		<div class='orderGrouping orderNavButtons'>
			<!-- Comment out the below code for now, in the interest of de-cluttering -->
			<!--
            {{#can_status_be_updated this.status}}
                <span class='orderCell'>
                    <span class='nextStatusLink' data-id={{ this._id }}>
                        <i class='fa fa-level-up'></i><span class='translate'>Move to {{#next_state this.status}}{{/next_state}}</span>
                    </span>
                </span>
            {{/can_status_be_updated}}
			-->

			<!-- Allow for prospects and pending orders to be removed from the system -->
			{{#if_cond_group this.status '["prospect", "pending"]'}}
				<span class='orderCell'>
					<span class='trashLink' data-id='{{ this._id }}'>
						<i class='fa fa-trash'></i><span class='translate'>Remove from System</span>
					</span>
				</span>
			{{/if_cond_group}}

			<!-- Allow the user to generate a contractor-specific agreement for the order whenever the order is in 
				 pending or queued status -->
			<!-- Comment out the below code for now, in the interest of de-cluttering -->
			<!--
			{{#if_cond_group this.status '["pending", "queued"]'}}
				<span class='orderCell'>
					<a class='contractorAgreementLink' target='_blank' href='/contractorAgreement?id={{ this._id }}'>
						<i class='fa fa-file-text'></i><span class='translate'>Print Contractor Agreement</span>
					</a>
				</span>
			{{/if_cond_group}}
			-->

			<!-- Only show this section for actual orders and not estimates -->
			{{#unless_cond this.status 'prospect'}}
				{{#unless_cond this.status 'pending'}}
					<span class='orderCell'>
						<a class='printLink' target='_blank' href='/printOrderDetails?id={{ this._id }}'>
							<i class='fa fa-print'></i><span class='translate'>Print Order</span>
						</a>
					</span>
				{{/unless_cond}}
				<span class='orderCell'>
					<a class='invoiceLink' target='_blank' href='/orderInvoice?id={{#obfuscate_id this._id }}{{/obfuscate_id}}'>
						<i class='fa fa-file-text'></i><span class='translate'>View Invoice</span>
					</a>
				</span>
				<span class='orderCell'>
					<a class='detailsButton' href='/orderDetails?id={{ this._id }}'>
						<span class='translate'>Edit</span><i class='fa fa-arrow-circle-o-right'></i>
					</a>
				</span>
			{{else}}
				<span class='orderCell'>
					<a class='convertOrderLink' href='/createQuote?id={{ this._id }}'>
						<i class='fa fa-first-order'></i><span class='translate'>Convert to Order</span>
					</a>
				</span>
				<span class='orderCell'>
					<a class='detailsButton' href='/prospectDetails?orderNumber={{ this._id }}'>
						<span class='translate'>Edit</span><i class='fa fa-arrow-circle-o-right'></i>
					</a>
				</span>
			{{/unless_cond}}
		</div>

        {{#if this.pictures }}
            <div class='orderGrouping orderPictures'>
                <span class='orderInfoSection' data-id={{ this._id }}>
					<span class='orderInfoSectionHeader translate'>Pictures</span>
					<span class='loadPicturesLink translate' data-id={{ this._id }}>Load Pictures...</span>
                </span>
            </div>
        {{/if}}
	</div>

{{/each}}

{{#unless orders.length}}
    <div id='nothingToDisplay' class='translate'>Nothing to display here...</div>
{{/unless}}