<div class='scrollableHorizontal'>

	<div id='buttonSection'>
		<a id='orderCreationButton' class='navButton' href='/orderGeneral'>
			<span>Create Order</span>
			<i class='fa fa-shopping-cart'></i>
		</a>
		<a id='refreshOrdersLink'>
			<i class='fa fa-refresh'></i>Refresh Orders
		</a>
	</div>

    {{> orderFilter }}

	<div id='orderListing'></div>

    {{> confirmationModal }}

	<script id='orderListingTemplate' type='text/x-handlebars-template'>
        {{{ orderListingTemplate }}}
	</script>

	<script id='orderPicturesTemplate' type='text/x-handlebars-template'>
		{{{ orderPicturesTemplate }}}
	</script>

	<script id='orderPrintTemplate' type='text/x-handlebars-template'>
		{{{ orderPrintTemplate }}}
	</script>

	<script id='notesTemplate' type='text/x-handlebars-template'>
		{{{ notesTemplate }}}
	</script>

	<script id='uploadTemplate' type='text/x-handlebars-template'>
		{{{ fileUploadTemplate }}}
	</script>

	{{> notesTemplates }}
	{{> uploadTemplates }}
</div>

{{> gallery }}

<div id='staleDataNotifier'>
	Stale data found. <br />Click here to update.
</div>