{{#each orders}}
	<div id='order-{{ this._id }}' class='orderBlock'>

		<div class='orderGrouping'>
            <span class='orderInfoSection'>
                <span class='orderIDCell'>
                    {{ this._id }}
                </span>
                <span class='orderStatusCell'>
                    {{#capitalize this.status }}{{/capitalize }}
                </span>
            </span>

            <span class='orderInfoSection'>
                <span class='orderInfoSectionHeader'>Customer Info</span>
                <span class='orderCell'>{{ customer.name }}</span>
                <span class='orderCell'>
					{{ customer.address }}
					{{#if customer.aptSuiteNo}}
						<br />
						{{ customer.aptSuiteNo }}
					{{/if}}
					<br />
					{{ customer.city }}, {{ customer.state }}{{#if customer.zipCode}}, {{ customer.zipCode }}{{/if}}
				</span>
				{{#if customer.email }}
					<span class='orderCell'>{{ customer.email }}</span>
				{{/if}}
                <span class='orderCell'>({{ customer.areaCode }}) {{ customer.phoneOne }}-{{ customer.phoneTwo }}</span>
            </span>

			<!-- Only show this section for orders with time limits -->
			{{#if this.timeLimit.original }}{{#unless_cond_group this.status '["closed", "cancelled"]' }}
				<span class='orderInfoSection'>
					<span class='orderInfoSectionHeader'>Time Left</span>
					<span class='orderCell timeLeftCell {{#determine_priority_level timeLimit.rawDueDate}}{{/determine_priority_level}}'>
						<div class='daysRemainingText'>
							<b>{{#determine_days_left timeLimit.rawDueDate }}{{/determine_days_left}}</b>&nbsp;days left
						</div>
						<div>
							<span class='orderLabel'>Due Date:</span> {{ timeLimit.translatedDueDate }}
						</div>
					</span>
				</span>
			{{/unless_cond_group}}{{/if}}

		</div>

        {{#if this.notes }}
			{{#if this.notes.internal}}
				<div class='orderGrouping orderNotesSection'>
					<span class='orderInfoSection'>
						<span class='orderInfoSectionHeader'>Notes</span>
						<span class='orderCell'>{{{ this.notes.internal }}}</span>
					</span>
				</div>
			{{/if}}
        {{/if}}

		<div class='orderGrouping orderNavButtons'>
            {{#can_status_be_updated this.status}}
                <span class='orderCell'>
                    <span class='nextStatusLink' data-id={{ this._id }}>
                        <i class='fa fa-level-up'></i>Move to {{#next_state this.status}}{{/next_state}}
                    </span>
                </span>
            {{/can_status_be_updated}}

			<!-- Allow for prospects and pending orders to be removed from the system -->
			{{#if_cond_group this.status '["prospect", "pending"]'}}
				<span class='orderCell'>
					<span class='trashLink' data-id='{{ this._id }}'>
						<i class='fa fa-trash'></i>Remove from System
					</span>
				</span>
			{{/if_cond_group}}

			<!-- Only show this section for actual orders and not estimates -->
			{{#unless_cond this.status 'prospect'}}
				{{#unless_cond this.status 'pending'}}
					<span class='orderCell'>
						<span class='printLink' data-id='{{ this._id }}'>
							<i class='fa fa-print'></i>Print Order
						</span>
					</span>
				{{/unless_cond}}
				<span class='orderCell'>
					<span class='invoiceLink' data-id='{{ this._id }}'>
						<i class='fa fa-file-text'></i>View Invoice
					</span>
				</span>
				<span class='orderCell'>
					<button class='detailsButton orderDetailsButton' data-id={{ this._id }}>
						Edit<i class='fa fa-arrow-circle-o-right'></i>
					</button>
				</span>
				{{#if_cond this.status 'install'}}
					<span class='orderCell'>
						<button class='closeOrderFormButton' data-id={{ this._id }}>
							Print Finishing Form<i class='fa fa-file-text'></i>
						</button>
					</span>
				{{/if_cond}}
			{{else}}
				<span class='orderCell'>
					<span class='convertOrderLink' data-id='{{ this._id }}'>
						<i class='fa fa-first-order'></i>Convert to Order
					</span>
				</span>
				<span class='orderCell'>
					<button class='detailsButton prospectDetailsButton' data-id={{ this._id }}>
						Edit<i class='fa fa-arrow-circle-o-right'></i>
					</button>
				</span>
			{{/unless_cond}}
		</div>

        {{#if this.pictures }}
            <div class='orderGrouping orderPictures'>
                <span class='orderInfoSection' data-id={{ this._id }}>
					<span class='orderInfoSectionHeader'>Pictures</span>
					<span class='loadPicturesLink' data-id={{ this._id }}>Load Pictures...</span>
                </span>
            </div>
        {{/if}}
	</div>

{{/each}}

{{#unless orders.length}}
    <div id='nothingToDisplay'>Nothing to display here...</div>
{{/unless}}