<div class='pageHeader'>
	<h3>Prioritize Orders</h3>
	<div class='headerUnderline'></div>
</div>

<div id='openOrderListColumnHeaders'>
	<span>ID</span>
	<span>Name</span>
	<span>Company</span>
	<span>Product Type</span>
	<span>Status</span>
	<span>Due Date</span>
</div>

<div id='openOrderList'>
	{{#each orders}}
		<div class='openOrder'>
			<span>{{ _id }}</span>
			<span>{{ customer.name }}</span>
			<span>{{#if customer.company}} {{ customer.company }} {{else}} -- {{/if}}</span>
			<span>{{#map_design_code_to_full_name design.type}}{{/map_design_code_to_full_name}}</span>
			<span>{{#capitalize status }}{{/capitalize}}</span>
			<span>
				<input type='date' class='dueDates' value='{{#if dates.due}}{{#format_date_for_input dates.due}}{{/format_date_for_input}}{{/if}}'data-order-id='{{ _id }}' data-create-date='{{ dates.created }}' />
			</span>
		</div>
	{{/each}}	
</div>