{{#each this}}

	<div class='railingTable'>

		<span class='idSection'>
			<div class='nameCell'>
				{{ name }}
			</div>
			{{#if previewImage}}
				<div class='previewImageCell'>
					{{#each previewImage}}
						<img src='{{ this }}' alt='Preview' />
					{{/each}}
				</div>
			{{/if}}
		</span>

		<span class='pricingSection'>

			{{#each priceBreakdowns}}
				<span class='priceColumn'>
					<div class='priceHeader'>
						{{ name }}
					</div>
					<div class='priceCell'>
						${{ price }}{{ pricingUnit }}
					</div>
				</span>
			{{/each}}

		</span>

		<div class='noteRow'>
			<span>{{ note }}</span>
		</div>

	</div>

{{/each}}