<div class='designTemplate'>

    {{#if designImages.length}}
        <div class='designImageContainer'>
			{{#if_more_than_one_image designImages}}
				<div class='designImages'>
					{{#designImages}}
						<img class='designPreview {{#if @first}}selected{{/if}}' src='{{this}}' />
					{{/designImages}}
				</div>
			{{/if_more_than_one_image}}

            <div>
                <img class='enlargedCarouselPicture' src='{{designImages.[0]}}' />
            </div>
        </div>
    {{/if}}

    {{#if label}}
		<div class='designName'>{{ label }}</div>
    {{/if}}

    {{#if designDescription}}
		<div class='designDescription'>{{designDescription}}</div>

		<div class='designPrice'>Price:
			{{#if price}}
				<span class='priceText'>${{price}} per {{unit}}</span>
			{{else}}
				<span class='priceText'>$0.00 (Free)</span>
			{{/if}}
		</div>

        <button class='designChosenButton {{#if isSelected}}selected{{else}}unselected{{/if}}' data-vm-prop={{vmProp}} data-design-code={{id}}>
            <span class='unselected {{#if isSelected}}hide{{/if}}'>
                Select this Option
            </span>
            <span class='selected {{#unless isSelected}}hide{{/unless}}'>
                Selected<i class='fa fa-check-circle-o'></i>
            </span>
        </button>

    {{else}}
        <div class='noDesignSelected'>
            Over here, you will see more information about whatever design you select above.
        </div>
    {{/if}}

</div>