<div class='newNoteUpload' data-order-id='{{ _id }}' data-category='{{ category }}'>

	<div class='newNoteTextContainer'>
		<textarea class='newNoteText' value='{{ text }}' placeholder='Write your new note here'></textarea>
	</div>

	<div class='newNoteActions'>
        <span class='noteField typeContainer'>
            <span class='labelText'>Type</span>
            <select class='noteType' {{#if type}} value='{{ type }}' {{/if}}>
                <option value='note'>Note</option>
                <option value='task'>Task</option>
            </select>
        </span>

		<span class='noteField assignToContainer'>
            <span class='labelText'>Assign To</span>
            <select class='taskAssignTo' value='{{ assignTo }}'>
				{{#each @root.users.all}}
					<option value='{{ username }}'>{{ username }}</option>
				{{/each}}
            </select>
        </span>

		<span class='noteField assignFromContainer'>
            <span class='labelText'>Assigned From</span>
            <span class='assignFromText'>{{ assignFrom }}</span>
        </span>

		<span class='noteField'>
			<button class='noteSave'>Save Note</button>
		</span>
	</div>

</div>