<div class='noteRecord
		{{#if_cond type 'task'}}
			{{#if_cond status 'open'}} openTask {{ else }} closedTask {{/if_cond}}
		{{/if_cond}}'>
	<span class='noteMetadata'>
		<div class='noteDate'>
			{{#format_date dates.created}}{{/format_date}}
		</div>
		<div class='noteTime'>
			{{#format_time dates.created}}{{/format_time}}
		</div>
		<div class='noteAuthor'>
			{{ author }}
		</div>
	</span>
	{{#if_cond type 'task'}}
		<span class='taskMetadata'>
			<div class='taskLabel'>Task</div>
			<div class='taskStatus'>{{#capitalize status}}{{/capitalize}}</div>
			<div class='taskAssignTo'>Owner: {{ assignTo }}</div>
			<div class='taskAssignFrom'>
				Assigner:
				{{#if_cond assignFrom @root.users.current}}
					You
				{{else}}
					{{ assignFrom }}
				{{/if_cond}}
			</div>
		</span>
	{{/if_cond}}
	<span class='noteCell'>{{{ text }}}</span>
</div>