<div id='baseDesignSection'>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Post Design
		</span>
		<select id='orderPost'>
			<option value='' disabled>Select...</option>
			{{#each designs.posts}}
				<option value='{{ this.id }}'>{{ this.label }}</option>
			{{/each}}
		</select>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Handrailing
		</span>
		<select id='orderHandrailing'>
			<option value='' disabled>Select...</option>
			{{#each designs.handrailings}}
				<option value='{{ this.id }}'>{{ this.label }}</option>
			{{/each}}
		</select>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Post End Design
		</span>
		<select id='orderPostEnd'>
			<option value='' disabled>Select...</option>
			{{#each designs.postEnds}}
				<option value='{{ this.id }}'>{{ this.label }}</option>
			{{/each}}
		</select>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Post Cap Design
		</span>
		<select id='orderPostCap'>
			<option value='' disabled>Select...</option>
			{{#each designs.postCaps}}
				<option value='{{ this.id }}'>{{ this.label }}</option>
			{{/each}}
		</select>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Color
		</span>
		<select id='orderColor'>
			<option value='' disabled>Select a color...</option>
			{{#each designs.colors}}
				<option value='{{ this.id }}'>{{ this.label }}</option>
			{{/each}}
			<option value='OTHER'>- Other -</option>
		</select>

		<input id='otherColor' type='text' class='otherTextfield' />
	</div>

</div>