<div id='invoice'>

	<div id='invoiceHeader'>
		<span>Details for Order #{{order._id}}</span>
		<i id='pagePrintIcon' class='fa fa-print' alt='Print this invoice'></i>
	</div>

	<div id='invoiceBody'>

		{{#if order.design.type}}
			<div class='invoiceRow'>
				<div class='invoiceLabel'>- Type of Product -</div>
				<div class='invoiceValue'>
					{{#map_design_code_to_full_name order.design.type}}{{/map_design_code_to_full_name}}
				</div>
				<div class='invoiceDescription'>{{order.designDescription.type}}</div>
			</div>
		{{/if}}

		{{#unless_cond order.design.type 'T-MISC'}}
			<div class='invoiceRow'>
				<div class='invoiceLabel'>- Amount of Product Needed -</div>
				<div class='invoiceDescription'>
					{{order.dimensions.length}} linear feet of
					{{#map_design_code_to_full_name order.design.type true}}{{/map_design_code_to_full_name}}
				</div>
			</div>
		{{/unless_cond}}

		{{#if order.design.post}}
			<div class='invoiceRow'>
				<div class='invoiceLabel'>- Post Design -</div>
				<div class='invoiceValue'>
					{{#map_design_code_to_full_name order.design.post}}{{/map_design_code_to_full_name}}
				</div>
				<div class='invoiceDescription'>{{order.designDescription.post}}</div>
			</div>
		{{/if}}

		{{#if order.design.handrailing}}
			<div class='invoiceRow'>
				<div class='invoiceLabel'>- Handrailing -</div>
				<div class='invoiceValue'>
					{{#map_design_code_to_full_name order.design.handrailing}}{{/map_design_code_to_full_name}}
				</div>
				<div class='invoiceDescription'>{{order.designDescription.handrailing}}</div>
			</div>
		{{/if}}

		{{#if order.design.postEnd}}
			<div class='invoiceRow'>
				<div class='invoiceLabel'>- Post End -</div>
				<div class='invoiceValue'>
					{{#map_design_code_to_full_name order.design.postEnd}}{{/map_design_code_to_full_name}}
				</div>
				<div class='invoiceDescription'>{{order.designDescription.postEnd}}</div>
			</div>
		{{/if}}

		{{#if order.design.postCap}}
			<div class='invoiceRow'>
				<div class='invoiceLabel'>- Post Cap -</div>
				<div class='invoiceValue'>
					{{#map_design_code_to_full_name order.design.postCap}}{{/map_design_code_to_full_name}}
				</div>
				<div class='invoiceDescription'>{{order.designDescription.postCap}}</div>
			</div>
		{{/if}}

		{{#if order.design.centerDesign}}
			<div class='invoiceRow'>
				<div class='invoiceLabel'>- Center Design -</div>
				<div class='invoiceValue'>
					{{#map_design_code_to_full_name order.design.centerDesign}}{{/map_design_code_to_full_name}}
				</div>
				<div class='invoiceDescription'>{{order.designDescription.centerDesign}}</div>
			</div>
		{{/if}}

		{{#if order.design.collars}}
			<div class='invoiceRow'>
				<div class='invoiceLabel'>- Collars -</div>
				<div class='invoiceValue'>
					{{#map_design_code_to_full_name order.design.collars}}{{/map_design_code_to_full_name}}
				</div>
				<div class='invoiceDescription'>{{order.designDescription.collars}}</div>
			</div>
		{{/if}}

		{{#if order.design.baskets}}
			<div class='invoiceRow'>
				<div class='invoiceLabel'>- Baskets -</div>
				<div class='invoiceValue'>
					{{#map_design_code_to_full_name order.design.baskets}}{{/map_design_code_to_full_name}}
				</div>
				<div class='invoiceDescription'>{{order.designDescription.baskets}}</div>
			</div>
		{{/if}}

		{{#if order.design.valence}}
			<div class='invoiceRow'>
				<div class='invoiceLabel'>- Valence -</div>
				<div class='invoiceValue'>
					{{#map_design_code_to_full_name order.design.valence}}{{/map_design_code_to_full_name}}
				</div>
				<div class='invoiceDescription'>{{order.designDescription.valence}}</div>
			</div>
		{{/if}}

		{{#if order.design.picketSize}}
			<div class='invoiceRow'>
				<div class='invoiceLabel'>- Picket Size -</div>
				<div class='invoiceValue'>
					{{#map_design_code_to_full_name order.design.picketSize}}{{/map_design_code_to_full_name}}
				</div>
				<div class='invoiceDescription'>{{order.designDescription.picketSize}}</div>
			</div>
		{{/if}}

		{{#if order.design.picketStyle}}
			<div class='invoiceRow'>
				<div class='invoiceLabel'>- Picket Style -</div>
				<div class='invoiceValue'>
					{{#map_design_code_to_full_name order.design.picketStyle}}{{/map_design_code_to_full_name}}
				</div>
				<div class='invoiceDescription'>{{order.designDescription.picketStyle}}</div>
			</div>
		{{/if}}

		{{#if order.design.cableSize}}
			<div class='invoiceRow'>
				<div class='invoiceLabel'>- Cable Size -</div>
				<div class='invoiceValue'>
					{{#map_design_code_to_full_name order.design.cableSize}}{{/map_design_code_to_full_name}}
				</div>
				<div class='invoiceDescription'>{{order.designDescription.cableSize}}</div>
			</div>
		{{/if}}

		{{#if order.design.cableCap}}
			<div class='invoiceRow'>
				<div class='invoiceLabel'>- Cable End Caps -</div>
				<div class='invoiceValue'>
					{{#map_design_code_to_full_name order.design.cableCap}}{{/map_design_code_to_full_name}}
				</div>
				<div class='invoiceDescription'>{{order.designDescription.cableCap}}</div>
			</div>
		{{/if}}

		{{#if order.design.glassType}}
			<div class='invoiceRow'>
				<div class='invoiceLabel'>- Type of Glass Railing -</div>
				<div class='invoiceValue'>
					{{#map_design_code_to_full_name order.design.glassType}}{{/map_design_code_to_full_name}}
				</div>
				<div class='invoiceDescription'>{{order.designDescription.glassType}}</div>
			</div>
		{{/if}}

		{{#if order.design.glassBuild}}
			<div class='invoiceRow'>
				<div class='invoiceLabel'>- Glass Build -</div>
				<div class='invoiceValue'>
					{{#map_design_code_to_full_name order.design.glassBuild}}{{/map_design_code_to_full_name}}
				</div>
				<div class='invoiceDescription'>{{order.designDescription.glassBuild}}</div>
			</div>
		{{/if}}

		{{#if order.design.ada}}
			<div class='invoiceRow'>
				<div class='invoiceLabel'>- ADA-Compliant Intermediate Handrail -</div>
				<div class='invoiceValue'>
					{{#map_design_code_to_full_name order.design.ada}}{{/map_design_code_to_full_name}}
				</div>
				<div class='invoiceDescription'>{{order.designDescription.ada}}</div>
			</div>
		{{/if}}

		{{#if order.design.color}}
			<div class='invoiceRow'>
				<div class='invoiceLabel'>- Color/Finish -</div>
				<div class='invoiceValue'>
					{{#map_design_code_to_full_name order.design.color}}{{/map_design_code_to_full_name}}
				</div>
			</div>
		{{/if}}

	</div>

	<div id='invoiceFooter'>
		{{#if_or order.pricing.tax order.pricing.tariff}}
			<div>
				<span class='orderFooterHeader'>Order Subtotal</span>
				<span class='orderFooterValue'>${{#to_fixed order.pricing.subTotal 2}}{{/to_fixed}}</span>
			</div>
		{{/if_or}}
		{{#if order.pricing.tax}}
			<div>
				<span class='orderFooterHeader'>Tax ({{taxRate}}%)</span>
				<span class='orderFooterValue'>${{#to_fixed order.pricing.tax 2}}{{/to_fixed}}</span>
			</div>
		{{/if}}
		{{#if order.pricing.tariff}}
			<div>
				<span class='orderFooterHeader'>
					<sup id='tariffWhatIsThis'>What is this?</sup>
					Tariff ({{#to_fixed tariffRate 2}}{{/to_fixed}}%)
				</span>
				<span class='orderFooterValue'>${{#to_fixed order.pricing.tariff 2}}{{/to_fixed}}</span>
			</div>
		{{/if}}
		<div id='orderTotalRow'>
			<span class='orderFooterHeader'>Order Total</span>
		<span class='orderFooterValue'>${{#to_fixed order.pricing.orderTotal 2}}{{/to_fixed}}</span>
		</div>
	</div>

</div>