<div id='invoice'>

	<div id='invoiceHeader'>
		<span>Details for Order #{{order._id}}</span>
		<i id='pagePrintIcon' class='fa fa-print' alt='Print this invoice'></i>
	</div>

	<div id='invoiceBody'>

		<div>
			<span class='invoiceSectionHeader'>- Amount of Railing Needed -</span>
			<span class='invoiceCell'>{{order.length}} linear feet of railing</span>
		</div>

		<div id='railingDesignSection'>
			<span class='invoiceSectionHeader'>- Post Design -</span>
			<span class='invoiceCell'>
				<span class='invoiceLabel'>Post Type:</span>
				{{#map_design_code_to_full_name order.design.post}}{{/map_design_code_to_full_name}}
			</span>
			{{#if order.design.postEnd}}
				<span class='invoiceCell'>
					<span class='invoiceLabel'>Post End:</span>
					{{#map_design_code_to_full_name order.design.postEnd}}{{/map_design_code_to_full_name}}
				</span>
			{{/if}}
			{{#if order.design.postCap}}
				<span class='invoiceCell'>
					<span class='invoiceLabel'>Post Cap:</span>
					{{#map_design_code_to_full_name order.design.postCap}}{{/map_design_code_to_full_name}}
				</span>
			{{/if}}
		</div>

		<div id='railingDesignSection'>
			<span class='invoiceSectionHeader'>- Railings Design -</span>

				<span class='invoiceCell'>
					<span class='invoiceLabel'>Handrailing:</span>
					{{#map_design_code_to_full_name order.design.handrailing}}{{/map_design_code_to_full_name}}
				</span>

				{{#if order.design.picket}}
					<span class='invoiceCell'>
						<span class='invoiceLabel'>Picket Type:</span>
						{{#map_design_code_to_full_name order.design.picket}}{{/map_design_code_to_full_name}}
					</span>
				{{/if}}

				{{#if order.design.center}}
					<span class='invoiceCell'>
						<span class='invoiceLabel'>Center Design:</span>
						{{#map_design_code_to_full_name order.design.center}}{{/map_design_code_to_full_name}}
					</span>
				{{/if}}

				<span class='invoiceCell'>
					<span class='invoiceLabel'>Color:</span>
					{{#map_design_code_to_full_name order.design.color}}{{/map_design_code_to_full_name}}
				</span>

		</div>

		<div>
			<span class='invoiceSectionHeader'>- Additional Features -</span>
			<span class='invoiceCell {{#if order.additionalFeatures}} descriptionField {{/if}}'>
				{{#if order.additionalFeatures}}
					{{{order.additionalFeatures}}}
				{{else}}
					N/A
				{{/if}}
			</span>
		</div>

		<div>
			<span class='invoiceSectionHeader'>- Notes -</span>
			<span class='invoiceCell descriptionField'>
				{{#if order.notes.order}}
					{{{order.notes.order}}}
				{{else}}
					N/A
				{{/if}}
			</span>
		</div>
	</div>

	<div id='invoiceFooter'>
		<span>Order Total: </span>
		<span>${{order.totalPrice}}</span>
	</div>

</div>