<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8" />
        <!-- Forcing IE to adhere to standards here -->
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">

        <!-- Mobile device scaling -->
        {{#unless ignoreScaling}}
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{/unless}}

        <!-- Favicon -->
        <link rel="icon" href="favicon.ico">

        <!-- Load all third-party stylesheets here --->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/tooltip/1.2.0/tooltip-theme-arrows.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/spinkit/1.2.5/spinkit.css">

        <!-- Load all the application-specific CSS files for this page -->
        {{#cssFiles}}
            <link rel="stylesheet" type="text/css" href='{{path}}'/>
        {{/cssFiles }}

        <!-- Load Stripe.js to help us process credit card payments -->
		<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

        <!-- Load Handlebars on the client -->
        <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>

        <!-- Load the tooltip library and its associated dependencies -->
		<script type='text/javascript' src="https://cdn.jsdelivr.net/tether/1.4.0/tether.min.js"></script>
        <script type='text/javascript' src="https://cdn.jsdelivr.net/drop/1.4.2/js/drop.min.js"></script>
		<script type='text/javascript' src="https://cdn.jsdelivr.net/tooltip/1.2.0/tooltip.min.js"></script>

<!--
        Just for testing purposes...

        <script type='text/javascript' src="client/scripts/jspm_packages/github/HubSpot/tether@1.4.0/js/tether.js"></script>
		<script type='text/javascript' src="client/scripts/jspm_packages/github/HubSpot/drop@1.4.2/dist/js/drop.js"></script>
		<script type='text/javascript' src="client/scripts/jspm_packages/github/HubSpot/tooltip@1.2.0/dist/js/tooltip.js"></script>
-->
    </head>

    <body>

        <!-- All page-specific HTML goes here -->
        <div class='content'>
            {{{content}}}
        </div>

        <!-- Loading veil -->
        <div id='baseLoaderOverlay' class='{{#if waitForPageLoad}}pageLoad surface{{/if}}'>
            <div>
                <span id='loadingText'>Loading</span>
            </div>
            <div>
                <span class="loadingBall"></span>
                <span class="loadingBall"></span>
                <span class="loadingBall"></span>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <span>
                <i class='fa fa-copyright'></i> {{currentYear}}
            </span>
            <span id='socialMediaSection'>
                <span>Share on</span>
                <span>
                    <i id='facebookShareLink' class='fa fa-facebook-official'></i>
                    <i id='twitterShareLink' class='fa fa-twitter-square'></i>
                    <i id='redditShareLink' class='fa fa-reddit-square'></i>
                </span>
            </span>
        </footer>

        {{> notificationBar }}
        {{> successBar }}

        <!-- Data to be bootstrapped when the page loads and before the other scripts are loaded -->
        <script>
            window.MetroRailings = {{{initialData}}};
        </script>

        <!-- Load all the necessary third-party script files below -->

        <!-- In production, only one script needs to be loaded -->
        {{#if isProd}}
            <script src="prod/app.js"></script>
        {{else}}
            <!-- In development environments, multiple scripts should be loaded in order to facilitate any needed debugging
            Load the bootloading scripts along with the base script that is responsible for instantiating all other
            scripts relevant to the page -->
            <script src="client/scripts/jspm_packages/system.src.js" ></script>
            <script src="client/scripts/jspm_config.js" ></script>
            <script src="client/scripts/systemPaths.js" ></script>
            <script src="client/scripts/plugins/facebook.js" ></script>
            <script src="client/scripts/plugins/twitter.js" ></script>
            <script src="client/scripts/plugins/socialLinks.js" ></script>

            <script>System.import("{{launchScript}}");</script>
        {{/if}}

    </body>

</html>