<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8" />
        <!-- Forcing IE to adhere to standards here -->
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">

		<!-- The site description tag -->
		<meta name="description" content="We build railings for stairways, porches, decks, balconies, and any other setting you want. Proudly serving the NJ & NYC areas.">

		<!-- The title of the page -->
		<title>Metro Railings - NJ & NY</title>

        <!-- Mobile device scaling -->
        {{#unless ignoreScaling}}
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{/unless}}

        <!-- Favicon -->
        <link rel="icon" href="favicon.ico">

<!--
        Just for testing purposes...

        <script type='text/javascript' src="client/scripts/jspm_packages/github/HubSpot/tether@1.4.0/js/tether.js"></script>
		<script type='text/javascript' src="client/scripts/jspm_packages/github/HubSpot/drop@1.4.2/dist/js/drop.js"></script>
		<script type='text/javascript' src="client/scripts/jspm_packages/github/HubSpot/tooltip@1.2.0/dist/js/tooltip.js"></script>
-->
		<!-- Load all the application-specific CSS files for this page -->

		{{#cssFiles}}
			<link rel="stylesheet" type="text/css" href='{{path}}'/>
		{{/cssFiles }}
    </head>

    <body>

		{{#unless isAdmin}}
			<!-- The navigation menu at the top of the page -->
			{{> topMenu }}

			<div id='topMenuSpace'>
				<img id='topMenuPrintableLogo' src='client/images/logo/png/color_logo_transparent_background_small.png' />
			</div>
		{{else}}
			<div id='languageSelection'>
				<a id='englishLanguageTranslator' class='selected'>English</a> | <a
					id='spanishLanguageTranslator'>Espanol</a>
			</div>
		{{/unless}}

        <!-- All page-specific HTML goes here -->
        <div class='content'>
            {{{content}}}
        </div>

        <!-- Loading veil -->
        <div id='baseLoaderOverlay'>
            <div>
                <span id='loadingText'>Loading</span>
            </div>
            <div>
                <span class="loadingBall"></span>
                <span class="loadingBall"></span>
                <span class="loadingBall"></span>
            </div>
        </div>

        {{> notificationBar }}
        {{> successBar }}

        <!-- Data to be bootstrapped when the page loads and before the other scripts are loaded -->
        <script>
            window.MetroRailings = {{{initialData}}};
        </script>

		<!--- In production, all scripts pulled from third-party servers will be bunded into the compiled production script -->
		{{#unless isProd}}
			<div id='thirdPartyScripts'>
				<!-- Load Handlebars on the client -->
				<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>

				<!-- Load the tooltip library and its associated dependencies -->
				<script type='text/javascript' src="https://cdn.jsdelivr.net/tether/1.4.0/tether.min.js"></script>
				<script type='text/javascript' src="https://cdn.jsdelivr.net/drop/1.4.2/js/drop.min.js"></script>
				<script type='text/javascript' src="https://cdn.jsdelivr.net/tooltip/1.2.0/tooltip.min.js"></script>
			</div>
		{{else}}
			<script type="text/javascript" src="prod/thirdParty.js"></script>
		{{/unless}}

		<script src="client/scripts/jspm_packages/system.js" ></script>
		<script src="client/scripts/jspm_config.js" ></script>
		<script src="client/scripts/systemConfig.js" ></script>

		<!-- In production, one file will house all page-specific code -->
		{{#if isProd}}
			<script src="prod/app.js"></script>

			<!-- @TODO Smartly integrate Google Analytics so that we can track user behavior without tracking our own admin behavior -->
			<!-- <script src="client/scripts/plugins/googleAnalytics.js" ></script> -->
		{{/if}}

		<script>System.import("{{launchScript}}");</script>

    </body>

	<!-- Page Footer -->
	<div id='footerSpace'></div>
	<footer>
		<span class='footerElement'>
			<span id='desktopContactNumberLister' class='desktopOnly'>{{ contactNumber }}</span>
			<a id='mobileContactUsNavigator' class='mobileOnly' href='/contactUs'>
				<i class='fa fa-calendar'></i>Schedule with Us
			</a>
		</span>
		<span class='footerElement'>
			<span id='desktopCopyrightLister' class='desktopOnly'>
				<i class='fa fa-copyright'></i>{{currentYear}}
			</span>
			<a id='mobileCallUsNavigator' class='mobileOnly' href='tel:{{ contactNumber }}'>
				<i class='fa fa-phone'></i>Call Us
			</a>
		</span>

		<!-- Defer the loading of all non-essential third-party stylesheets to this section here --->
		{{#unless isProd}}
			<div id='thirdPartyStyles'>
				<link rel="stylesheet" href="https://cdn.jsdelivr.net/tooltip/1.2.0/tooltip-theme-arrows.css">
				<link rel="stylesheet" href="https://cdn.jsdelivr.net/spinkit/1.2.5/spinkit.css">
				<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
				<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
			</div>
		{{else}}
			<link rel="stylesheet" href="prod/thirdParty.css">
		{{/unless}}

		<!-- Separating out the import of font-awesome from the other third-party stylesheets as it is difficult for us
		 to gracefully import its font libraries as well when in production -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
	</footer>
</html>