<div id='invoice'>

	<div id='invoiceHeader'>
		<span>PRODUCT / OPTIONS</span>
		<span>UNIT PRICE</span>
		<span class='keyCell'>TOTAL PRICE</span>
	</div>

	<div id='invoiceBody'>

		<div>
			<span>{{order.length}} feet of railing</span>
			<span>
				${{order.customMetadata.pricePerFoot}} per foot
			</span>
			<span>
				${{#calculate_length_subtotal order.length order.customMetadata.pricePerFoot}}{{/calculate_length_subtotal}}
			</span>
		</div>

		<div>
			<span>Railings Type: {{#capitalize order.type}}{{/capitalize}}</span>
			<span></span>
			<span></span>
		</div>

		<div>
			<span>Post Design: {{#map_design_code_to_full_name order.design.post}}{{/map_design_code_to_full_name}}</span>
			<span>{{#fetch_design_price order.design.post}}{{/fetch_design_price}}</span>
			<span>{{#calculate_design_subtotal order.design.post order.length}}{{/calculate_design_subtotal}}</span>
		</div>

		{{#if order.design.postEnd}}
			<div>
				<span>Post End: {{#map_design_code_to_full_name order.design.postEnd}}{{/map_design_code_to_full_name}}</span>
				<span>{{#fetch_design_price order.design.postEnd}}{{/fetch_design_price}}</span>
				<span>{{#calculate_design_subtotal order.design.postEnd order.length}}{{/calculate_design_subtotal}}</span>
			</div>
		{{/if}}

		{{#if order.design.postCap}}
			<div>
				<span>Post Cap: {{#map_design_code_to_full_name order.design.postCap}}{{/map_design_code_to_full_name}}</span>
				<span>{{#fetch_design_price order.design.postCap}}{{/fetch_design_price}}</span>
				<span>{{#calculate_design_subtotal order.design.postCap order.length}}{{/calculate_design_subtotal}}</span>
			</div>
		{{/if}}

		<div>
			<span>Center Design: {{#map_design_code_to_full_name order.design.center}}{{/map_design_code_to_full_name}}</span>
			<span>{{#fetch_design_price order.design.center}}{{/fetch_design_price}}</span>
			<span>{{#calculate_design_subtotal order.design.center order.length}}{{/calculate_design_subtotal}}</span>
		</div>

		<div>
			<span>Color: {{#map_design_code_to_full_name order.design.color}}{{/map_design_code_to_full_name}}</span>
			<span>{{#fetch_design_price order.design.color}}{{/fetch_design_price}}</span>
			<span>{{#calculate_design_subtotal order.design.color order.length}}{{/calculate_design_subtotal}}</span>
		</div>

		{{#if order.customMetadata.customFeatures}}
			<div>
				<span id='additionalFeaturesCell'>
					<div class='bolded'>Additional Features</div>
					<div>{{ order.customMetadata.customFeatures }}</div>
				</span>
				<span></span>
				<span>
					{{#if order.customMetadata.customPrice}}
						${{ order.customMetadata.customPrice }}
					{{/if}}
				</span>
			</div>
		{{/if}}

	</div>

	<div id='invoiceFooter'>
		<span class='keyCell'>Order Total: </span>
		<span>${{order.totalPrice}}</span>
	</div>

</div>